extends layout

block content
  h1= title
  p #{msg}
  form(method="POST",action="/signup")
    label(for="email") Email
    input(type="email",name="email",id="email")
    br
    label(for="password") Password
    input(type="password",name="password",id="password")
    br
    label(for="confirm") Confirm Password
    input(type="password",name="confirm",id="confirm")
    br
    input(type="submit",value="Go",onclick="javascript:return (document.getElementById('password').value === document.getElementById('confirm').value) ? true : false;")

